@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* a태그 속성 설정 */
.titleLink:visited, .titleLink:link {
	color: black;
	text-decoration: none;
}

.titleLink:hover {
	color: black;
	text-decoration: underline;
}

.arrayLink:visited, .arrayLink:link, .arrayLink:hover {
	color: black;
	text-decoration: none;
}

.headname {
	font-size: 25pt;
	font-weight: 500;
}

/* 페이지 제목 */
h1 {
	text-align: left !important;
}

/* #content 하위 내 속성을 정할 div */
.anbody1 {
	width: 1200px;
	margin-left: 0;
	text-align: left !important;
}

.anbody2 {
	width: 1000px;
	margin-left: 0;
	text-align: left !important;
}

/* table 설정 ("admin/notice/list.jsp") */
.antable {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

tr {
	height: 35px;
	border-radius: 10px;
}

th, td {
	text-align: center;
	border-bottom: 1px solid #f6f6f6;
}

th {
	background-color: #C4FFFF;
}

.BtnWrite {
	background-color: #cccccc6b;
	border-radius: 10px;
	padding: 5px 20px;
	border-width: inherit;
	
}

/* noticeView.jsp */
.back{
	text-align: left;
}

.backlist {
	font-size: 12pt;
	font-weight: 500;
	color: #4EEDED;
	cursor: pointer;
}

.viewTitle {
	font-size: 25pt;
	font-weight: 500;
}

.CdAndHit {
	border-bottom: 1px solid #ccc;
}

.CdAndHit > label {
	color: #9797978a;
	font-weight: 500;
}

.HitLabel {
	color: #9797978a;
	font-weight: 500;
}

.viewContent {
	min-height: 250px;
}

.imgbox {
	height: 200px;
	width: 100%;
	text-align: left;
}

.imgclick {
	height: 200px;
	width: 300px;
}

.comment {
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 10px;
	position: relative;
}

.comment_nick {
	font-weight: 600;
}

.comment_content {
	font-weight: 400;
}

.comment_date {
	font-weight: 400;
	color: silver;
}

/* 수정, 삭제 버튼용 스타일 */
.btn-example {
	cursor: pointer;	
}

.pop-layer {
  color: #666;
  line-height: 25px;
}

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
  display: none;
  position: absolute;
  float: right;
  top: 50%;
  left: 50%;
  width: 75px;
  height: auto;
  background-color: #fff;
  z-index: 10;
}

.dim-layer .pop-layer {
  display: block;
}

.pop-conts {
	border: 1px outset rgba(0, 0, 0, .06);
	border-radius: 6px;
	box-shadow: 0 1px 12px 0 rgb(0 0 0 / 6%);
	box-sizing: border-box;
	padding-left: 10px;
	padding-top: 4px;
}

.pop-btn {
	font-weight: 400;
	cursor: pointer;
}

.okbtn-after-cmtupdate {
	border: none;
	border-radius: 5px;
	background-color: #4EEDED;
	margin: 5px 5px;
	width: 55px;
	padding: 5px;
}

.cnbtn-after-cmtupdate {
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
	margin: 5px 5px;
	width: 55px;
	padding: 5px;
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}


.viewbtn {
	border: none;
	padding: 5px 20px;
	margin-right: 20px;
}

/* noticeWrite.jsp */
.nTitle {
	width: 100%;
	border-bottom: 1px solid #f6f6f6;
}

.bTitle {
	width: 80%;
	height: 40px;
	font-size: 13pt;
	border: 1.5px solid white;
}

.bTitle:focus {
	outline: none;
	border: 1.5px solid #4EEDED;
	transition: border 1s;
}

.nContent {
	width: 100%;
	margin: 0px 0px 0px -10px;
}

.buttonbox {
	padding-top: 20px;
	text-align: left;
}

.dropbox {
	margin: 0px 5px;
	width: 100px;
	height: 30px;
	border-color: ivory;
}

.search {
	width: 200px;
	height: 30px;
	border-color: snow;
}

.searchBtn {
	width: 50px;
	height: 30.5px;
	margin-left: -4px;
	background-color: #C4FFFF;
	border: none;
}

.write {
	text-align: right;
}
