@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* a태그 속성 설정 */
.titleLink:visited, .titleLink:link {
	color: black;
	text-decoration: none;
}

.titleLink:hover {
	color: black;
	text-decoration: underline;
}

.arrayLink:visited, .arrayLink:link, .arrayLink:hover {
	color: black;
	text-decoration: none;
}

.headname {
	font-size: 25pt;
	font-weight: 500;
}

/* 페이지 제목 */
h1 {
	text-align: left !important;
}

/* #content 하위 내 속성을 정할 div */
.anbody1 {
	margin: 0 auto;
	text-align: left !important;
	width: 1070px;
}

.anbody2 {
	margin-left: 0 auto;
	text-align: left !important;
	width: 1070px;
}

/* table 설정 ("admin/notice/list.jsp") */
.antable {
	margin-bottom: 20px;
	max-width: 100%;
	width: 100%;
}

tr {
	border-radius: 10px;
	height: 35px;
}

th, td {
	border-bottom: 1px solid #f6f6f6;
	text-align: center;
}

th {
	background-color: #C4FFFF;
}

.BtnWrite {
	background-color: #cccccc6b;
	border-radius: 10px;
	border-width: inherit;
	padding: 5px 20px;
	
}

/* noticeView.jsp */
.back{
	text-align: left;
}

.backlist {
	color: #4EEDED;
	cursor: pointer;
	font-size: 12pt;
	font-weight: 500;
}

.viewTitle {
	font-size: 25pt;
	font-weight: 500;
}

.CdAndHit {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

.CdAndHit > label {
	color: #9797978a;
	font-weight: 500;
}

.HitLabel {
	color: #9797978a;
	font-weight: 500;
}

.total_comments_btn:visited, .total_comments_btn:hover, .total_comments_btn:link {
	color: black;
	text-decoration: none;
}

.total_comments {
	width: 25px;
	height: 25px;
}

.viewContent {
	min-height: 250px;
}

.imgbox {
	height: 200px;
	text-align: left;
	width: 100%;
}

.imgclick {
	height: 200px;
	width: 300px;
}

.comment {
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 10px;
	position: relative;
}

.comment_comment {
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 10px;
	margin-left: 50px;
	position: relative;
}

.deletedCmt {
	height: 45px;
}

.comment_nick, .comment_comment_nick {
	font-weight: 600;
}

.comment_content, .comment_comment_content {
	font-weight: 400;
}

.comment_date, .comment_comment_date {
	color: silver;
	font-weight: 400;
}

/* 수정, 삭제 버튼용 스타일 */
.btn-example {
	cursor: pointer;	
}

.pop-layer, .comment-pop-layer {
  color: #666;
  line-height: 25px;
}

.pop-layer .btn-r {
  border-top: 1px solid #DDD;
  margin: 10px 0 20px;
  padding-top: 10px;
  text-align: right;
  width: 100%;
}

.pop-layer, .comment-pop-layer {
  background-color: #fff;
  display: none;
  float: right;
  height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 75px;
  z-index: 10;
}

.dim-layer .pop-layer {
  display: block;
}

.dim-layer .comment-pop-layer {
  display: block;
}

.pop-conts, .comment-pop-conts {
	border: 1px outset rgba(0, 0, 0, .06);
	border-radius: 6px;
	box-shadow: 0 1px 12px 0 rgb(0 0 0 / 6%);
	box-sizing: border-box;
	padding-left: 10px;
	padding-top: 4px;
}

.create_commentss {
	color: silver;
	cursor: pointer;
	font-weight: 400;
	margin-left: 10px;
}

.pop-btn {
	font-weight: 400;
	cursor: pointer;
}

.okbtn-after-cmtupdate {
	background-color: #4EEDED;
	border: none;
	border-radius: 5px;
	margin: 5px 5px;
	padding: 5px;
	width: 55px;
}

.cnbtn-after-cmtupdate {
	background-color: #f2f2f2;
	border: none;
	border-radius: 5px;
	margin: 5px 5px;
	padding: 5px;
	width: 55px;
}

.updateCompleteBtn {
	background-color: white;
	border: none;
	color: silver; 
	padding: 10px 50px 10px 0px; 
	font-size: 11pt;
}

.updateCancelBtn {
	background-color: white; 
	border: none; 
	color: silver; 
	padding: 10px 30px 10px 0px; 
	font-size: 11pt;
}


.viewbtn {
	border: none;
	margin-right: 20px;
	padding: 5px 20px;
}

/* noticeWrite.jsp */
.nTitle {
	border-bottom: 1px solid #f6f6f6;
	width: 100%;
}

.bTitle {
	border: 1.5px solid white;
	font-size: 13pt;
	height: 40px;
	width: 80%;
}

.bTitle:focus {
	border: 1.5px solid #4EEDED;
	outline: none;
	transition: border 1s;
}

.nContent {
	margin: 0px 0px 0px -10px;
	width: 100%;
}

.buttonbox {
	padding-top: 20px;
	text-align: left;
}

.dropbox {
	border-color: ivory;
	height: 30px;
	margin: 0px 5px;
	width: 100px;
}

.search {
	border-color: snow;
	height: 30px;
	text-align: center;
	width: 200px;
}

.searchBtn {
	background-color: #C4FFFF;
	border: none;
	height: 30.5px;
	margin-left: -4px;
	width: 50px;
}

.write {
	text-align: right;
}

#content {
	width: 1280px;
	background: #FFFFFF;
	margin: 30px auto;
	text-align: center;
	margin-top: 105px;
}

#search {
	text-align: center;
}

.subtitle {
	text-align: left;
	font-size: 30pt;
	margin-top: 70px;
	padding-left: 105px;
}

.subtitle > label {
	font-weight: 500;
}
