<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
// 	$("input[name='cate']").change(function() {
// 		console.log("change")
		
// 		var str = '';
// 		$("input[name='cate']:checked").each(function(idx) {
// 			console.log($(this).val())
// 			str += $(this).val();
// 			if( idx+1 < $("input[name='cate']:checked").length ) {
// 				str += ","
// 			}
// 		})
		
// 		console.log(str)
// 	})


$("input[name='category']").change(function() {
	var $checkboxes = $("input:checkbox[name='category']:checked");

	var map = $checkboxes.map(function() {
	   return $(this).val();
	});

	var values = map.get().join(",");
	console.log("values : " + values);
})


})


// var $checkboxes = $("input:checkbox[name='cate']:checked");

// var map = $checkboxes.map(function() {
//    return $(this).val();
// });

// var values = map.get().join(",");
// console.log("values : " + values);



</script>
</head>
<body>
<form action="#">
<input type="checkbox" name="category" value="1"/>
<input type="checkbox" name="category" value="2"/>
<input type="checkbox" name="category" value="3"/>
<input type="checkbox" name="category" value="4"/>

</form>
</body>
</html>