<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="ppeonfun.dao.user.main.MainDao">
  	<resultMap type="ppeonfun.dto.Project" id="Project">
  		<result column="p_no" property="pNo"/>
		<result column="m_no" property="mNo" />
		<result column="p_name" property="pName" />
		<result column="p_requirements" property="pRequirements" />
		<result column="p_information" property="pInformation" />
		<result column="p_story" property="pStory" />
		<result column="p_reward" property="pReward" />
		<result column="p_maker" property="pMaker" />
		<result column="p_state" property="pState" />
		<result column="p_progress_state" property="pProgressState" />
		<result column="p_caution" property="pCaution" />
		<result column="p_like" property="pLike" />
		<result column="p_create_date" property="pCreateDate" />
  	</resultMap>
  	
  	<resultMap type="ppeonfun.dto.Information" id="Information">
  		<result column="i_no" property="iNo"/>
		<result column="p_no" property="pNo"/>
		<result column="i_title" property="iTitle"/>
		<result column="i_money" property="iMoney"/>
		<result column="i_origin_name" property="iOriginName"/>
		<result column="i_stored_name" property="iStoredName"/>
		<result column="i_category" property="iCategory"/>
		<result column="i_start_date" property="iStartDate"/>
		<result column="i_end_date" property="iEndDate"/>
		<result column="i_create_date" property="iCreateDate"/>
		<result column="i_state" property="iState"/>
		<result column="i_size" property="iSize"/>
		<result column="i_content_type" property="iContentType"/>
  	</resultMap>
  	
  	
  	
  	<select id="selectCntAll" resultType="int">
  		SELECT count(*) FROM project P
		inner join information I
		on P.p_no = I.p_no
		where p_state= 'Y' AND p_progress_state='Y'
  	</select>
  	
  	<select id="selectAll"  resultMap="Information" parameterType="ppeonfun.util.Paging">
		 SELECT*FROM(
				SELECT rownum rnum, I.* FROM(
				        SELECT *
		            FROM project P
		            inner join information I
		            on P.p_no = I.p_no
		            where p_state= 'Y' AND p_progress_state='Y'
		            order by P.p_no desc
		            
		    ) I
		)R
		WHERE rnum BETWEEN #{startNo} AND #{endNo}	
  	</select>
  	
  	<select id="selectInformationFavorite" resultMap="Information">
  		SELECT*FROM(
	  		SELECT rownum rnum, I.* FROM(
					        SELECT *
			            FROM project P
			            inner join information I
			            on P.p_no = I.p_no
			            where p_state= 'Y' AND p_progress_state='Y'
			            order by p_like desc
			    ) I
  			)WHERE rnum BETWEEN 1 AND 5
  	</select>
  	
  
 </mapper>