@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body { height: 100%; }
body {
  font-family: "Noto Sans KR", sans-serif !important;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.left{
	float:left;
}
.right{
	float:right;
}
.center{
	text-align:center;
}

#hamburger { display: none; }
#hamburger ~*{
	transition: transform 0.4s;
}
#hamburger:checked ~ * { transform: translate3d(200px, 0, 0); }
#hamburger ~ label {
  position: absolute;
  font-size: 54px;
  top: -16px; left: 8px;
  cursor: pointer;
  z-index: 1;
}
#hamburger ~ nav {
  position: absolute;
  background: black;
  width: 200px;
  left: -200px;
  height: 100%;
  
}
#hamburger ~ nav * {
  margin: 0; padding: 0;
  color: white;
}
#hamburger ~ nav div {
  background: teal;
  padding: 1em;
}
#hamburger ~ nav a {
  display: block;
  text-decoration: none;
  padding: 1em;
}
#hamburger ~ nav a:hover { background: gray; }

#content {
  position: relative;
  padding: 2.6em 1em 1em;
  width: 100%;
}

header{
	/* header태그의 전체적인 설정 */
 	background: #FFFFFF;
 	width: 1280px;
 	padding-left: 60px;
 	margin: 0 auto;
 	/* border: 1px solid #ccc; */
 	
}
.hdropdown{
	/* ul태그의 기본 리스트스타일 없애기 */
	/* 기본 리스트스타일: disc */
	list-style-type: none;
	/* 기본 여백 제거 */
	padding: 0px;
	margin: 0px;
}


.hdropdown > li{
	/* 수평으로 일렬 배치하기 */
	float: left;
	background: #FFFFFF;
	/* 크기 (배경색 포함) 변경하기 */
	/* padding: 20px 5px; */
	/* 줄 간격을 이용한 높이 조절 */
	line-height: 40px;
	/* 테두리를 이용한 메뉴 항목 구분선 만들기 */
	/* border-right: 1px solid #FFFFFF; */
	/* 서브메뉴(absolute)의 위치 기준점 설정 */
	margin-left: 20px;
	position: relative;
	text-align: left;
}

.hdropdown > li > a{
	color: #1E2227;
	/* 글자 꾸밈선 없애기(underline) */
	text-decoration: none;
	/* 글자 스타일 지정 */
	font-size: 20px;
	margin: 0 5px;
}

.hdropdown > li > ul{
	/* HTM 계층구조에서 빼내는 설정  */
	/* 부모요소인 <li>태그의 컨텐츠 영역에서 벗어나게 된다 */
	position: absolute;
	/* ul태그 기본 리스파일 (disc) 제거 */
	list-style-type: none;
	/* ul태그 기본 여백 제거 */
	padding: 0;
	margin: 0;
	
	/* 서브메뉴의 위치 설정 */
	left: 5px;
	/* 서브메뉴영역의 너비 */
	width: 180px;
}
.hdropdown > li:hover > a{
	color: #4EE2EC;
	
}
.hdropdown > li:hover > ul > li{
	height: 40px;
	font-size: 20px;
	line-height:40px;
	transition: all 0.5s ease-out;
}



.hdropdown > li > ul > li{
	/* 배경색 지정 */
	background: #143642;
	/* 항목의 크기 키우기 */
	/* padding: 2px 5px;  */
	/* 텍스트 들여쓰기 */
	padding-left: 10px; 
	
	/* 평소에 화면에서 안보이도록 설정하기 */
	height: 0;
	font-size: 0;
	line-height:0;
	
}
.hdropdown > li > ul > li > a{
	/* 배경색 지정 */
	background: #FFFFFF;
	
	/* 글자색 지정 */
	color: #143642;
	/* 꾸밈선 제거(underline) */
	text-decoration: none;
	/* 부모요소<li>항목을 자식요소 <a>로 가득 채우기 */
	display: block; 
	/* 변화 시작, 종료 둘 다 적용 */
	/* transition: background 2s, color 1s; */
	
}

.hdropdown > li > ul > li > a:hover{
	/* 글자색 변경 */
	color: #4EE2EC;
	/* 배경색 변경 */
	background: #FFFFFF;


}
#chartTarget{
	width : 1280px;
	height : 400px;
	
}
#chartTarget > div{
	display:inline-block;
	width : 370px;
	height : 400px;
	
	
}

#navigation{
	display:relative;
	width: 100%;
	height: 100px;
	float: left;
}
#navigation > div{
	display:inline-block;
	width: 600px;
	
}
input[id="keyword"]{
	width: 500px;
	margin: 10px;
}
#content {
  width: 1280px;
  background: #FFFFFF;
  margin: 30px auto;
  text-align: center;
}
.move{
	transform: translate(200px, 0px);
	transition: transform 0.4s;
}
.back{
	transform: translate(0px, 0px);
	transition: transform 0.4s;
}

footer{
	/* footer의 전체적인 설정 */
	/*border: 1px solid #ccc;*/
 	background: #FFFFFF;
 	width: 100%;
 	margin-top: 30px;
 	margin-left: 335px;
 	text-align:left;
 	
}