@charset "UTF-8";


/* 카테고리 버튼 */
.divCategoryWrap {margin:15px 0;}
.divCategoryBox button {border:1px solid #ccc; border-radius:50%; width:60px; height:60px; background:none; margin:0 23px;}
.divCategoryBox button:hover {background-color:#4EE2EC; color:white;}
.divCategoryBox button .spanIconWrap {width:100%; height:100%; font-size:37px;}
.divCategoryBox button .spanIconWrap img {width:58px; position:relative; right:6px; bottom:3px;}

.divCategoryLabel {margin:0 auto;}
.divCategoryLabel label {width:106px; font-weight:400;}

/* 상단 메뉴 */
.divFundMenu span a {display:inline-block; width:150px; margin-top:10px; font-size:17px; color:black;}
.divFundMenu span a:hover {text-decoration:none; color:#4EE2EC;}
.fa-house-user {font-size:30px; position:relative; left:357%;}

/* 프로젝트 없는 경우 스타일*/
.arrow-img {width:20px; height:20px; vertical-align:bottom;}
h4 a:hover{text-decoration:none;}

/* 프로젝트 있는 경우 스타일 */
.thumbnail a img {width:80%; height:200px;}
.dday span {display:inline-block; width:100px; margin:10px 0;}
.pjname {font-weight:600; font-size:16px;}