<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="ppeonfun.dao.user.mypage.MypageDao">
 	<resultMap type="ppeonfun.dto.MyPage" id="MyPage">
		<result column="my_no" property="myNo"/>
		<result column="my_origin_name" property="myOriginName"/>
		<result column="my_stored_name" property="myStoredName"/>
		<result column="my_introduce" property="myIntroduce"/>
		<result column="my_size" property="mySize"/>
		<result column="my_content_type" property="myContentType"/>
  	</resultMap>
  	
 	
 	<select id="selectMypageBymNo" resultMap="MyPage" parameterType="int">
 	SELECT my_no, my_origin_name, my_stored_name
 			, my_introduce, my_size, my_content_type
 	FROM mypage
 	WHERE my_no= #{mNo}
 	</select>
 	
 	<update id="updateMypage" parameterType="ppeonfun.dto.MyPage">
 	UPDATE mypage
 	SET my_origin_name = #{myOriginName}, my_stored_name = #{myStoredName}
 		, my_size = #{mySize}, my_content_type = #{myContentType}
 	WHERE my_no = #{myNo}
 	</update>
 	
 	<update id="updateMypageIntro" parameterType="ppeonfun.dto.MyPage">
 	UPDATE mypage
 	SET my_introduce = #{myIntroduce}
 	WHERE my_no = #{myNo}
 	</update>
 	
 	<select id="selectMemberByNo" parameterType="int" resultType="ppeonfun.dto.Member">
 	SELECT m_phone, m_email, m_bank, m_account, m_post, m_address, m_detail_address
 	FROM member
 	WHERE m_no = #{mNo}
 	</select>

 	<update id="updateMemberInfo" parameterType="ppeonfun.dto.Member">
 	UPDATE member
 	SET m_nick = #{mNick}, m_email = #{mEmail}, m_phone = #{mPhone}
 		, m_bank = #{mBank}, m_account = #{mAccount}, m_post = #{mPost}
 		, m_address = #{mAddress}, m_detail_address = #{mDetailAddress}
 	WHERE m_no = #{mNo}
 	</update>
 </mapper>  
    
  