<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="ppeonfun.dao.user.reward.RewardDao">
 	<select id="selectAllReward" parameterType="Project" resultType="Reward">
 		SELECT * FROM reward WHERE p_no = #{pNo}
 	</select>
 	
 	
 </mapper>