<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ppeonfun.dao.user.story.StoryDao">

	<resultMap type="ppeonfun.dto.Information" id="Information">
		<result column="i_no" property="iNo"/>
		<result column="p_no" property="pNo"/>
		<result column="i_title" property="iTitle"/>
		<result column="i_money" property="iMoney"/>
		<result column="i_origin_name" property="iOriginName"/>
		<result column="i_stored_name" property="iStoredName"/>
		<result column="i_category" property="iCategory"/>
		<result column="i_start_date" property="iStartDate"/>
		<result column="i_end_date" property="iEndDate"/>
		<result column="i_create_date" property="iCreateDate"/>
		<result column="i_state" property="iState"/>
		<result column="i_size" property="iSize"/>
		<result column="i_content_type" property="iContentType"/>
	</resultMap>
	
	<select id="selectInfo" parameterType="ppeonfun.dto.Information" resultMap="Information">
		select i_category, i_title, i_money, p_no
		from information
		where p_no = #{pNo }	
	</select>
	
	<select id="selectCntSupporter" parameterType="ppeonfun.dto.Supporter" resultType="int">
		SELECT count(*)
		FROM supporter
		WHERE p_no = #{pNo }
	</select>
	
	<select id="selectRemainDay" parameterType="ppeonfun.dto.SupporterJoin" resultType="int">
		select 
		    to_date(to_char(i_end_date, 'YYYYMMDD')) - to_date(to_char(sysdate, 'YYYYMMDD'))
		from information
		where p_no = #{pNo }
	</select>
	
	<select id="selectTotalAmount" parameterType="ppeonfun.dto.SupporterJoin" resultType="int">
		SELECT sum(re_money + su_add_money)
		FROM reward r, supporter s
		WHERE s.re_no = r.re_no and s.p_no = #{pNo }		
	</select>
	
	<select id="selectCntNews" parameterType="ppeonfun.dto.News" resultType="int">
		SELECT count(*)
		FROM news
		WHERE p_no = #{pNo }
	</select>
	
</mapper>