<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ppeonfun.dao.user.story.StoryDao">

	<resultMap type="ppeonfun.dto.Information" id="Information">
		<result column="i_no" property="iNo"/>
		<result column="p_no" property="pNo"/>
		<result column="i_title" property="iTitle"/>
		<result column="i_money" property="iMoney"/>
		<result column="i_origin_name" property="iOriginName"/>
		<result column="i_stored_name" property="iStoredName"/>
		<result column="i_category" property="iCategory"/>
		<result column="i_start_date" property="iStartDate"/>
		<result column="i_end_date" property="iEndDate"/>
		<result column="i_create_date" property="iCreateDate"/>
		<result column="i_state" property="iState"/>
		<result column="i_size" property="iSize"/>
		<result column="i_content_type" property="iContentType"/>
	</resultMap>
	
	<select id="selectInfo" parameterType="ppeonfun.dto.Information" resultMap="Information">
		select i_category, i_title, i_money, p_no
		from information
		where p_no = #{pNo }	
	</select>
	
	<select id="selectCntSupporter" parameterType="ppeonfun.dto.Supporter" resultType="String">
		SELECT count(*)
		FROM supporter
		WHERE p_no = #{pNo }
	</select>
	
	<select id="selectRemainDay" parameterType="ppeonfun.dto.SupporterJoin" resultType="int">
		select 
		    to_date(to_char(i_end_date, 'YYYYMMDD')) - to_date(to_char(sysdate, 'YYYYMMDD'))
		from information
		where p_no = #{pNo }
	</select>
	
	<select id="selectTotalAmount" parameterType="ppeonfun.dto.SupporterJoin" resultType="String">
		SELECT sum(re_money + su_add_money)
		FROM reward r, supporter s
		WHERE s.re_no = r.re_no and s.p_no = #{pNo }		
	</select>
	
	<select id="selectCntNews" parameterType="ppeonfun.dto.News" resultType="int">
		SELECT count(*)
		FROM news
		WHERE p_no = #{pNo }
	</select>
	
	<select id="selectCntFavorite" parameterType="ppeonfun.dto.Favorite" resultType="int">
		SELECT count(*)
		FROM favorite
		WHERE p_no = #{pNo }
			AND m_no = #{mNo }
	</select>
	
	<select id="getTotalCntFavorite" parameterType="ppeonfun.dto.Favorite" resultType="int">
		SELECT count(*)
		FROM favorite
		WHERE p_no = #{pNo }
	</select>
	
	<delete id="deleteFavorite" parameterType="ppeonfun.dto.Favorite">
		DELETE favorite
		WHERE m_no = #{mNo }
			AND p_no = #{pNo }
	</delete>
	
	<insert id="insertFavorite" parameterType="ppeonfun.dto.Favorite">
		INSERT INTO favorite (fav_no, p_no, m_no)
		VALUES (favorite_seq.nextval, #{pNo }, #{mNo })
	</insert>
	
	<select id="selectCntCommunity" parameterType="ppeonfun.dto.News" resultType="String">
		SELECT count(*) 
		FROM community
		where p_no = #{pNo }
	</select>
	
	<select id="selectMfounderNoByPno" parameterType="ppeonfun.dto.Project" resultType="ppeonfun.dto.Project">
		SELECT m_no
		FROM project
		WHERE p_no = #{pNo }
	</select>
	
	<insert id="insertReport" parameterType="ppeonfun.dto.Report">
		INSERT INTO 
			report (rep_no, p_no, m_reporter_no, m_founder_no, rep_content, rep_manager_content, rep_state)
		VALUES (REPORT_SEQ.nextval, #{pNo}, #{mReporterNo }, #{mFounderNo }, #{repContent }, '관리자 의견 없음', 'W')
	</insert>
	
</mapper>